:host {
  display: block;
  max-width: 600px;
  margin: 3rem auto;
  padding: 2rem;
  background-color: var(--color-superficie);
  border: 1px solid var(--color-borde);
  border-radius: var(--radio);
  box-shadow: var(--sombra);
  text-align: center;
}

:host button {
  background-color: var(--color-error);
}

:host button:hover {
  background-color: #b93b3b;
}
